@page
<div class="container">
    <div class="row p-1">
        <div class="col-1">Package</div>
        <div class="col-5"><input type="text" class="w-100" id="package_id_input" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="createPackage" value="Create Package" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Label</div>
        <div class="col-5"><input type="text" class="w-100" id="label_input" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="addLabel" value="Add Label" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="eventList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/beerpackage.js"></script>
